---
import type { CollectionEntry } from 'astro:content';
import BaseHead from './BaseHead.astro';
import FormattedDate from './FormattedDate.astro';


const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<article>
            <section>
            <slot />
            </section>
        </article>
	</body>
</html>
