html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;   
}

html,
main,
#__next {
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  margin: auto;
  max-width: 700px;
}

a {
  color: inherit;
  text-decoration: none;
}

.multi-column {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -webkit-column-break-inside: avoid-column;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

* {
  box-sizing: border-box;
}


table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  width: 100%;
}

 thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
 tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.medium-testimonial {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 15px;
  border-radius: 10px;

  .picture {
    display: flex;

    .avatar {
      margin: 10px;
      background-color: powderblue;
      width: 40px;
      height: 40px;   
      line-height: 40px;   
      text-align: center;
      border-radius: 100%;
      color: white;
      font-size: 1.3rem;
    }

    .nametag {
      font-size: 1rem;

      .date {
        color: gray;
      }

      .name {
        color: rgb(46, 46, 46);
      }
      
      * {
        margin-bottom: 0px;
      }
    }
  }

  .content {
    margin-bottom: 0.3rem;

    .date {
      font-size: 1rem;
      font-weight: normal;
      color: grey;
      margin-left: 1ch;
    }

    p {
      margin-bottom: 0;
    }

    .icons {
      font-size: 1rem;
      margin-top: 5px;

      * {
        display: inline-block;
      }
    }
  }
}

.youtube-testimonial {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 80%;

  .picture {
    display: flex;
    justify-content: center;

    div {
      background-color: powderblue;
      width: 75px;
      height: 75px;
      line-height: 75px;
      text-align: center;
      border-radius: 100%;
      color: white;
      font-size: 2.5rem;
    }
  }

  .content {
    margin-bottom: 0.3rem;

    .name {
      font-size: 1rem;
    }

    .date {
      font-size: 1rem;
      font-weight: normal;
      color: grey;
      margin-left: 1ch;
    }

    p {
      margin-bottom: 0;
    }

    .icons {
      font-size: 1rem;
      margin-top: 5px;

      * {
        display: inline-block;
      }

      :not(:first-child) {
        margin-left: 1ch;
      }
    }
  }
}

.testimonial-container {
  margin-bottom: 20px;
}

.via {
  grid-column: 1 / -1;
  font-size: 0.75rem;
  text-align: right;
  width: 100%;
}